body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
}

.form-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input,
button {
    margin-bottom: 10px;
    padding: 5px;
}

.error {
    color: red;
}